/* index.css działa jako reset(?) | sprawdzić czy mogę jakoś import zmiennych stąd do App.css | wyszukać na yt "How to name css variables" & "explanation for colors css hsl oklch itp."*/
/* DZISIAJ ZROBIĆ CAŁY CSS!!! i RWD oczywiście + zabezpieczyć duże liczby */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color: hsl(255, 7%, 11%);
	--font: hsl(0, 0%, 37%);
	--white: hsl(0, 0%, 92%);
	--red: hsl(0, 78%, 55%);
	--font-family: Arial;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	width: 100%;
	height: 100vh;
	background-color: var(--color);
	color: var(--white);
	height: 100%;
}
